<p>
album-detail works!
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead class="thead-dark">
        </thead>
        <tbody>
          <tr>
            <td>Grupo:</td>
            <td>NombreGrupo</td>
          </tr>
           <tr>
            <td>Album:</td>
            <td>TitleAlbum</td>
          </tr>
           <tr>
            <td>Descripción:</td>
            <td>DescAlbum</td>
          </tr>
           <tr>
            <td>Total time:</td>
            <td>TimeAlbum</td>
          </tr>
           <tr>
            <td>Songs:</td>
            <td>Time</td>
          </tr>
          <tr>
            <td>namesong</td>
            <td>durationsong</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>